<!DOCTYPE html>
<html>
  <head>
      <mata charset="utf-8">
      <title> Some Website </title>
  </head>
  <body>
    {{> header}}
    <p>Projetcs text goes here!</p>

    {{> footer}}
  </body>
</html>
